@charset "utf-8";

th{
    width: 150px;
    font-size: larger;
    font-weight: 800;
    text-align: center;
}

td{
    font-size: large;
    width:150px;
    text-align:center;
}

.extraTD{
    width:200px;
}

.red{
    color:red;
}

.flexEnd {
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; 
}


button {
    background-color: #4267B2; 
    color: white; 
    border: none;
    padding: 10px 15px; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    /* Optional: Add box shadow for a subtle lift effect */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin:5px;
}

button:hover {
    background-color: #365899; /* Darker color on hover */
}

.tips {
    width: 500px;
    text-align:left;
}

.Category{
    width:100px;
    text-align:right;
}